<?xml version="1.0" encoding="utf-8"?>
<plugin id="my-cordova-android-auto-music-plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Android Auto Music Plugin</name>

    <engines>
        <engine name="cordova-android" version=">=12.0.0" />
    </engines>

    <js-module src="www/myplugin.js" name="MyMusicPlugin">
        <clobbers target="cordova.plugins.MyMusicPlugin" />
    </js-module>

   <platform name="android">
    <framework src="androidx.media:media:1.6.0" />

    <resource-file src="src/android/res/xml/automotive_app_desc.xml" target="res/xml/automotive_app_desc.xml" />

    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="MyMusicPlugin">
            <param name="android-package" value="org.apache.cordova.myplugin.MyMusicPlugin" />
        </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="application">
        <service
            android:name="org.apache.cordova.myplugin.MyMusicService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
            <meta-data
                android:name="android.media.browse_service"
                android:resource="@xml/automotive_app_desc" />
        </service>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />
    </config-file>

    <source-file src="src/android/MyMusicService.java" target-dir="src/org/apache/cordova/myplugin" />
    <source-file src="src/android/MyMediaSessionManager.java" target-dir="src/org/apache/cordova/myplugin" />
    <source-file src="src/android/MyMusicPlugin.java" target-dir="src/org/apache/cordova/myplugin" />
  </platform>

</plugin>
