<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INPlayMediaIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Toque música no ${applicationName}</string>
				<string>Toque Shakira no ${applicationName}</string>
				<string>Toque meus favoritos no ${applicationName}</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSearchForMediaIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Procure Shakira no ${applicationName}</string>
				<string>Encontre música rock no ${applicationName}</string>
				<string>Procure playlists no ${applicationName}</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
